.layout {
  display: flex;
  height: calc(100vh - 56px); /* altura navbar */
}

app-sidebar {
  width: 240px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
